/*activité*/

.work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "Work_1 Work_2 Work_3";
    width: 80vw;
    margin: 100px auto;
}

.Work_1 { grid-area: Work_1; }
.Work_2 { grid-area: Work_2; }
.Work_3 { grid-area: Work_3; }


/*########################################*/

/*services*/

/* .services {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.serv :nth-child(1){ 
    grid-area: 1 / 1 / 2 / 2; 
}
.serv :nth-child(2){ 
    grid-area: 1 / 2 / 2 / 3; 
}
.serv :nth-child(3){ 
    grid-area: 2 / 1 / 3 / 2; 
}
.serv :nth-child(4){ 
    grid-area: 2 / 2 / 3 / 3; 
}
.serv :nth-child(5){ 
    grid-area: 1 / 3 / 3 / 4; 
} */

.container_services {
    width: 80vw;
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px 70px;
    grid-auto-flow: row;
    grid-template-areas:
    "Graphic_design Web_design Illustration_services"
    "UI_UX Web_dev Illustration_services";
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    align-items: center;
}

.container_services i{
    color: white;
    margin-top: 30px;
}

.container_services .Graphic_design, .Web_design, .UI_UX, .Web_dev{
    border-left: #cdcdcd solid 1px;
}

.Graphic_design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "icon_gd text_aera_services"
    "icon_gd text_aera_services";
grid-area: Graphic_design;
}

.icon_gd { grid-area: icon_gd; }

.text_aera_services { grid-area: text_aera_services; }

.Web_design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "icon_wd text_aera_service_2"
    "icon_wd text_aera_service_2";
grid-area: Web_design;
}

.icon_wd { grid-area: icon_wd; }

.text_aera_service_2 { grid-area: text_aera_service_2; }

.UI_UX {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "icon_uu text_aera_services_3"
    "icon_uu text_aera_services_3";
    grid-area: UI_UX;
}

.icon_uu { grid-area: icon_uu; }

.text_aera_services_3 { grid-area: text_aera_services_3; }

.Web_dev {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "icon_dev text_aera_services_4"
    "icon_dev text_aera_services_4";
grid-area: Web_dev;
}

.icon_dev { grid-area: icon_dev; }

.text_aera_services_4 { grid-area: text_aera_services_4; }

.Illustration_services {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "img_illustration spanit";
grid-area: Illustration_services;
}

.img_illustration { 
    position: relative;
    grid-area: img_illustration;
    object-fit: contain;
}
#img_services{
    position: absolute;
    top: 55px;
    left: -20px;
    width: 300px;

}

.spanit { 
    grid-area: spanit; 
    background-color: #cdcdcd;
    border: #cdcdcd 1px solid;
    height: 500px;
    width: 100px
    ;
}

.container .Graphic_design i{
    margin-top: 30px;
}
.container .Web_design  i{
    margin-top: 22px;
}
.container .UI_UX  i{
    margin-top: 22px;
}
.container .Web_dev  i{
    margin-top: 22px;
}

/*########################################*/

/*portfolio*/

.flex-container{
    background-color: var(--primary);
}

.du_flex{
    display: flex;
    justify-content: space-around; 
    align-items: stretch; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: stretch;
    height: 50vh;
    margin: auto;
    text-align: center;
    gap: 20px;
    
}

.du_flex p, h3{
    color: var(--secondary);
}

.du_flex div{
    padding-top: 60px;
}

.flex-item p{
    text-align: left;
}